.jacquard-12-charted-regular {
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
  }

/*universal selector*/
* {
    /*text alignment*/
    text-align: left;
}

h1 {
    /*position sticky*/
    position: sticky;
    top: 10px;
}

h2 {
    color: hsla(61, 96%, 70%, 1); /*Color, also text color*/
    /*Margin Long*/
    margin-top: 1rem;
    margin-right: 80vw;
    margin-bottom: 10px;
    margin-left: 1em;
    border-style:dashed;

    /*padding short*/
    padding: 1mm 1mm 1mm 5mm;

    /*Sizing*/
    height: 1cm;
    width: 5cm;
    max-width: 10cm;
    min-width: 2cm;

}

h3 {
    color: honeydew; /*Color*/
    margin: auto; /*margin auto*/
}

li {
    --list-color: color(srgb 10 100 100); /*Color Space and variable*/
    color: var(--list-color, gold); /*using variable with fallback*/
    margin: 1mm 1cm 1mm 1cm; /*Margin short*/
}

#agenda1 {
    color: color-mix(in srgb, cyan, silver); /*Color mix*/
    /*text-decoration*/
    text-decoration: underline;
    /*position sticky*/
    position: sticky;
}

/*selector list*/
#skin1, #skin2 {
    color: gold
}

/*attribute selector*/
p[id="chant"] {
    display: inline; /*display in-line*/
    color: aqua;
}

label {
    /*Borders*/
    border-style: dotted;
    border-color: white;
    border-width: 1px;
    border-radius: 1cm;
    /*Padding long*/
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 5pt;
    padding-right: 5pt;
    display: block; /*display block*/
    /*position static*/
    position: static;
}

/*Pseudo-classes, Pseudo-class selector*/
button:hover {
    color: red;
}
button:active {
    background-color: blue;
}

/*flex box*/
#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

/*grid*/
#navi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}


/*media query*/
@media (max-device-width: 425px) {
    #form {
        font-size: larger;
        background-color: white;
    }
    h2 {
        color: red;
    }
}